<%- include("./partials/header") %>

<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" class="form-control" type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" class="form-control" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input id="firstName" class="form-control" type="text" name="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input id="lastname" class="form-control" type="text" name="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input id="email" class="form-control" type="email" name="email" placeholder="example@example.com" required>
            </div>
            <div class="form-group">
                <label for="avatar">Avatar:</label>
                <input id="avatar" class="form-control" type="text" name="avatar" placeholder="Avatar URL">
            </div>
            <div class="form-group">
                <label for="admin">If you're an Admin, enter the code here:</label>
                <input id="admin" class="form-control" type="text" name="adminCode" placeholder="Admin Code">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<%- include("./partials/footer") %>
